#card > img {
    height: 300px;
    width: 220px;
}

.solitaire {
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url(images/Solitaire.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}